*{padding: 0;
margin: 0;}
body{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color:#333;
    color:white;
    display: flex;
    justify-content:space-between ;
    height: 80;
   }
ul{
    padding-left: 10;
    display: flex;
    align-items: center;
}
li{
    padding-left: 70;
    list-style: none;
    font-size: large;
    letter-spacing: .3;
    line-height: 1;
 
}
li:hover{
     color:#333 ;
}
.logo{
    line-height: 1;
 text-shadow:4px 3px red;
    color: rgb(244, 248, 250);
    padding-right: 30;
    font-size: 42;
    margin-top: 16;
    letter-spacing: 4;
    font-family: cursive;
}
.show,.hide{
    display:none;
}
#chk{
    visibility: hidden;


}


.hero{
    margin: 0;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0.75),rgba(0,0,0.75)), url(n.jpg);
}
.contact{
    color: white;
    position: absolute;
 width: 100%;
 margin-top: 130;
   font-size:30;
  text-align: center;
  letter-spacing: 0.5;

  text-shadow:3px 3px red;


 }
button{
    font-size: x-large;
    border-radius: 25px;
    padding: 15 0;
    width: 200;
    color: white;
    background-color: black;
 box-shadow:3px 4px white;
border:2px solid #009688;
background:transparent;
cursor: pointer;
overflow: hidden;     position: relative;

 }
 
 button:hover span
 {
     width: 100%;
 }
button:hover{
    border: none;
}












@media screen and (max-width:1010px){
    .hide,.show{
        display: block;
    }
    .show{
     margin-top: 25;
        font-size: x-large;
    }
 
    
    .menu{
z-index: 2;
        position: fixed;
        right: -100%;
        width: 100%;
        transition: 2.3s;
        background-color: #666;
    flex-direction: column;
    height: 100vh;
    top: 0;
    padding: 80 0;
    line-height: normal;
}

    li{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: block;
        padding: 20;
        letter-spacing: 3;
    }
    .hide{
        position: absolute;
        top40;
    right: 40;    }
    #chk:checked ~ .menu{
right: 0;
    }
}
